- var isAdmin = false;
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width  initial-scale=1  shrink-to-fit=no")
    title= title
    link(rel="icon" type="image/png" href="favicon.png")
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.css")
    link(rel="stylesheet" href="/css/style.css")
    script(src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js")
    block headerCss
    block headerScripts
  body
    nav(class="navbar fixed-top navbar-expand-md navbar-dark")
      a(class="navbar-brand"  href="#")
        img.img-fluid(src="/Star_Wars_Yellow_Logo.svg" height="30")
        | Tie Fighter - Beta
      button(class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")

      div#navbarSupportedContent.collapse.navbar-collapse
        ul.justify-content-end.w-100.nav.nav-pills
          li.nav-item
            if (title == "Home")
              a.nav-link.active(href="/") Home
            else
              a.nav-link(href="/") Home
          li.nav-item
            if (title == "Tie Fighter")
              a#enterGame.active.nav-link(href="/game") Enter the Game
            else
              a#enterGame.nav-link(href="/game") Enter the Game
          li.nav-item
            if (title == "About")
              a.nav-link.active(href="/about") About
            else
              a.nav-link(href="/about") About
          li(class="nav-item")
            if (title == "Artwork")
              a.active.nav-link(href="/artwork") Artwork
            else
              a.nav-link(href="/artwork") Artwork
          li.nav-item.dropdown
            if (title == "Account")
              a#account.hidden.active.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Account
              .dropdown-menu
                a.dropdown-item(href="#") Account Info
                a#yourStats.dropdown-item(href="/account/stats") Your Stats
                if (isAdmin)
                  a#yourStats.dropdown-item(href="/admin/") Admin
                a#logout.dropdown-item(href="#") Logout
            else
              a#account.hidden.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Account
              .dropdown-menu
                a.dropdown-item(href="/account/") Account Info
                a.dropdown-item(href="/account/stats") Your Stats
                if (isAdmin)
                  a#yourStats.dropdown-item(href="/admin/") Admin
                a#logout.dropdown-item(href="#") Logout
            a#login.nav-link.hidden(href="#") Login
    main
      block content
    footer
    script(src="/js/jquery.min.js")
    script(src="/js/popper.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/xhr.js")
    script(src="/js/common.js")
    block scripts