################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TieFighter/v15
/.vs/TieFighterV2/v15/Server/sqlite3
