extends shared/layout.pug

block content
    .container-fluid
        .row
            .col-2
            .col-8
                h2 About
                p.indented
                    | A blast to the past with a new version of the "Star Wars TIE-Fighter"
                    | game. Written 100% javascript, you can now run this classic game
                    | on any modern web-browser! Prefer a controller? Great news! This 
                    | remake is fully compatible with controllers. The game takes place 
                    | inbetween Star Wars episode V - VI. Start off as a rookie TIE-Fighter
                    | pilot patrolling the galaxy for pirates and smugglers and work your
                    | way up to piloting the infamous TIE-Defender flying alongside the
                    | 801st and Darth Vader himself! Long live the Empire!
                p.indented
                    | Upcoming: Stay tuned for the sequel game TIE-Predator "Fall of a
                    | Republic" set in the age of the Imperial Remnant
                h2 News
                ul
                    li 
                    a(href="#") 10/11/2017
                    li
                    a(href="#") 10/29/2017
        .row
            .col-2
            .col-8
                h2 Why Ads?
                p.indented
                    | Running this application isn't free and I don't really 
                    | feel all that inclined to pay for everything out of my own 
                    | pocket. That's why there are ads. Also if you notice at 
                    | times there are more ads than usual that means that the 
                    | funds raised have fallen behind. Also I should point out 
                    | that none of the profits go to me. All funds raised are 
                    | only for keeping the server running. If by chance the funds
                    | raised have paid the monthly rent early, ads will be 
                    | disabled.
        .row
            .col-2
            .col-8
                h2 Legalese
                p.indented
                    | Star Wars&trade; is property of LucasFilm Ltd. and since the
                    | licensing phase has not yet been completed the content on 
                    | this site is in violation of LucasFilm Ltd. intellectual 
                    | rights. Until that paperwork is completed I'm abiding my 
                    | time developing/testing new features for which this site 
                    | should only be online for at most a couple hours. If you 
                    | notice it up for periods of time longer that that please 
                    | send me an 
                    a(href="mailto:alex.c.hayes08@gmail.com") email 
                    | notifying me that I forget to turn the site
                    | off.