extends shared/layout.pug

block content
    .container-fluid
        .row
            .col-2
            .col-8
                h2.text-center Account
                    img#userPicture.usr-picture.img-fluid(src="")
                hr
                h3 Info
                .row
                    .input-group
                        span.input-group-addon Email:
                        input#email.form-control(type="text" readonly)
                .row
                    .input-group
                        span.input-group-addon Default Display Name:
                        input#defaultDisplayName.form-control(type="text" readonly)
                .row
                    .input-group
                        span.input-group-addon Display Name:
                        input#displayName.form-control(type="text" readonly placeholder="Your display name...")
                        span.input-group-btn
                            button#updateDisplayName.btn.btn-success(type="button") Update
                hr
                h3 Manage Account
                .row
                    button.btn.btn-warning(type="button") Logout
                .row
                    button.btn.btn-danger(type="button" data-toggle="modal" data-target="#removeAccount") Remove Account

                    #removeAccount.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
                        .modal-dialog(role="document")
                            .modal-content
                                .modal-header
                                    h5.modal-title Remove Account?
                                    button.close(type="button" data-dismiss="modal" aria-label="close")
                                        span(aria-hidden="true") &times;
                            .modal-body
                                p
                                    | Warning: Removing your account will delete all stats 
                                    | and progress in the game! This action cannot be undone.
                            .modal-footer
                                button.btn.btn-danger(data-dismiss="modal") Remove Account
                                button.btn.btn-primary(data-dismiss="modal") Cancel


block scripts
    script(src="js/account.js")