html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")

        link(rel="stylesheet",href="css/game.css")

        script(src="js/babylon.js")
        script(src="js/babylon.objFileLoader.min.js")

        title Tie Fighter
    body
        canvas(id="scene")
        script(src="js/game.js")
        script(src="js/IShip.js")