extends shared/layout.pug

block headerCss
  //- <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.css" />
block headerScripts
  //- <script src="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.js"></script>

block content
  .container-fluid
    .colorSpacer.row
      .col
      .col
      .col
      .col
    #firstSeqeunce.row
      img.title(src="/Star_Wars_Yellow_Logo.svg")
      img.gameTitle(src="/StarWarsTitleMiddle.png")
      //- img.top(src="/StarWarsTitleTop.png")
      //- img.mid(src="/StarWarsTitleMiddle.png")
      //- img.bot(src="/StarWarsTitleBottom.png")
      #goToSecondSequence.continue
    .colorSpacer.row
      .col
      .col
      .col
      .col
    #secondSequence.row

block scripts