extends shared/layout.pug

block headerCss
  //- <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.css" />
block headerScripts
  //- <script src="https://cdn.firebase.com/libs/firebaseui/2.4.1/firebaseui.js"></script>

block content
  .container-fluid
    .colorSpacer.row
      .col
      .col
      .col
      .col
    #firstSeqeunce.row
      img.title.img-fluid(src="/Star_Wars_Yellow_Logo.svg")
      img.gameTitle.img-fluid(src="/StarWarsTitleMiddle.png")
      .openingCrawl.position-absolute.text-center
        p
          | At the battle of Yavin
          br
          | Rebel terrorists, aided by
          br
          | spies and traitors within the
          br
          | Empire, struck a cowardly
          br
          | blow at the new symbol of
          br
          | Imperial power... The Death Star!
          br
        p
          | Darth Vader brought swift justice
          br
          | to the Rebels by destroying their
          br
          | main base on Hoth. The pitiful
          br
          | remnants of the Alliance have
          br
          | now scattered to the Outer Rim.
        p
          | In the days ahead, the Emperor
          br
          | will call upon the Imperial Navy
          br
          | to eradicate the last vestiges
          br
          | of rebellion and restore law
          br
          | and order to the galaxy!
          br
      //- img.top(src="/StarWarsTitleTop.png")
      //- img.mid(src="/StarWarsTitleMiddle.png")
      //- img.bot(src="/StarWarsTitleBottom.png")
      #goToSecondSequence.continue
    .colorSpacer.row
      .col
      .col
      .col
      .col
    #secondSequence.row.align-items-center
      .col-2
      .col-8
        h1 Star Wars Tie-Fighter
        h2 Now In Your Browser!
        img.img-fluid(src="tiePredatorModelAWingsClosedRackMounted.png")
        p.
          Made with WebGL.
        p.
          Remake of the famous 1994 "Star Wars Tie-Fighter&trade;" game;
    .colorSpacer.row
      .col
      .col
      .col
      .col
    #thirdSequence.row.align-items-center
      .col-2
      .col-8
        h1 Benchmarks
        h3 A.K.A What to Expect
        p.
          The following images show off the graphics of the original game
          (Hopefully I can do a little better).
        #oldGameImages.carousel.slide(data-ride="carousel")
          ol.carousel-indicators
            li.active(data-target="#oldGameImages" data-slide-to="0")
            li(data-target="#oldGameImages" data-slide-to="1")
            li(data-target="#oldGameImages" data-slide-to="2")
            li(data-target="#oldGameImages" data-slide-to="3")
          .carousel-inner
            .carousel-item.active
              .cropImg
                img.d-block.w-100(src="originalImageA.jpg" alt="First slide")
            .carousel-item
              .cropImg
                img.d-block.w-100(src="originalImageB.jpg" alt="Second slide")
            .carousel-item
              .cropImg
                img.d-block.w-100(src="originalImageC.jpg" alt="Third slide")
            .carousel-item
              .cropImg
                img.d-block.w-100(src="originalImageD.jpg" alt="Third slide")
          a.carousel-control-prev(href="#oldGameImages" role="button" data-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.sr-only Previous
          a.carousel-control-next(href="#oldGameImages" role="button" data-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.sr-only Next

block scripts
  script(src="js/home.js")