/* Theme Colors */
.firstBG {
  background-color: rgba(253, 255, 252, 1);
}

.secondBG {
  background-color: rgba(35, 87, 137, 1);
}

.thirdBG {
  background-color: rgba(193, 41, 46, 1);
}

.fourthBG {
  background-color: rgba(241, 211, 2, 1);
}

.fifthBG {
  background-color: rgba(2, 1, 0, 1);
}

/* End Theme Colors */

.btn-primary {
  color: #fff;
  background-color: rgba(35, 87, 137, 1);
  border-color: rgba(35, 87, 137, 1);
}

.btn-info {
  color: #fff;
  background-color: rgb(52, 142, 171);
  border-color: rgb(52, 142, 171);
}

.btn-danger {
  background-color: rgb(213, 83, 93);
  border-color: rgb(213, 83, 93);
}

[disabled] {
  background-color: rgb(160, 160, 160) !important;
  border-color: rgb(160, 160, 160) !important;
  color: black !important;
}

/* Override bootstrap styles */

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgba(253, 255, 252, 1);
  font-family: 'Roboto', sans-serif;
  margin-top: 56px;
}

footer {
  min-height: 75px;
}

nav {
  background-color: rgba(2, 1, 0, 1) !important;
  border-radius: 0 !important;
  box-shadow: 4px 0px 8px 2px rgba(0,0,0,.33);
  font-weight: bold;
}

@media (max-width: 768px) {
  .colorSpacer:first-of-type,
  #firstSeqeunce {
    display: none;
  }
}

.continue {
  border: 60px solid rgba(255,232,31,0.5);
  border-bottom: 60px solid transparent;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  bottom: 1em;
  cursor: pointer;
  left: calc(50% - 120px);
  opacity: 0;
  position: absolute;

  transition: .2s;
}

.continue:hover {
  border-top: 60px solid rgba(255,232,31,1);
  opacity: 1;
}

.continue:not(:hover) {
  animation: 1s alternate-reverse infinite forwardscontinueBttnAnimation;
}

.colorSpacer > * {
  min-height: 4px;
}

.colorSpacer > *:nth-child(1) {
  background-color: #b70000;
}

.colorSpacer > *:nth-child(2) {
  background-color: #ac7123;
}

.colorSpacer > *:nth-child(3) {
  background-color: #59c2ef;
}

.colorSpacer > *:nth-child(4) {
  background-color: #33e6ac;
}

.openingCrawl {
  color: rgba(31,186,255,0.85);
  font-family: Franklin Gothic;
  font-size: x-large;
  width: 100%;
  transform: translateY(100vh);

  animation: 30s calc(10s/2) 1 forwards linear openingCrawlAnimation;
}

.navbar-brand {
  color: rgba(253, 255, 252, 1) !important;
  text-shadow: 0px 4px 9px rgba(255,255,255,.33);
}

/* .navbar-collapse.collapse {
  overflow: hidden !important;
} */

.hidden {
  display: none;
}

.imageGroup {
  display: block;
  list-style: none;
}

.imageGroup > * {
  display: inline-block;
  margin: 5px;

  height: 50px;
  width: 50px;
}

.imageGroup > * img {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  cursor: pointer;

  max-height: 100%;
  max-width: 100%;

  transition: .2s;
}

.imageGroup > * > a {
  height: 50px;
  width: 50px;
}

.imageGroup > * img:hover {
  box-shadow: 0 8px 12px 0 rgba(35, 87, 137,0.14), 0 2px 20px 0 rgba(35, 87, 137,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}

.imageGroupTitle {
  text-shadow: 0 4px 5px rgba(0,0,0,0.14), 0 1px 10px rgba(0,0,0,0.12);
}

.nav-link.active {
  background-color: rgb(52, 142, 171);
}

/* End override bootstrap styles */

.indented {
  display: block;
  text-indent: 2em;
}

.no-padding {
  padding: 0 !important;
}

.usr-picture {
  border-radius: 50%;
  /* Shadow from http://materializecss.com/shadow.html */
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  max-width: 50px;
  margin: 20px;
}

#artCarousel img {
  /* box-sizing: border-box; */
  /* box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3); */
  max-height: auto;
  max-width: 100%;
}

#artTitle {
  bottom: 15%;
  font-size: 6.5rem;
  position: absolute;
}

#firstSeqeunce {
  background-color: black;
  background-image: url("/starwarsTitleSequenceBG.svg");
  color: #d7c078;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  height: calc(100vh - 56px);
}

#firstSeqeunce > .title {
  margin-top: 10%;
  animation: 20s 1 ease-out forwards mainAnim;
}

#firstSeqeunce > .gameTitle {
  object-fit: contain;
  animation: 20s 1 ease-out forwards enterGameTitle;
}

#firstSeqeunce > .top {
  margin-top: 10%;
  animation: 3s 1s 1 linear forwards slideinTop, 3s 3s ease-out 1 forwards makeroomTop;
}

#firstSeqeunce > .mid {
  opacity: 0;
  transform: translateY(200%) scale(10, 10);
  animation: 3s 3s 1 forwards enterMid;/*, 3s 6s linear forwards exitThruTop;*/
}

#firstSeqeunce > .bot {
  transform: translateY(calc(100vh + 67px));
  animation: 3s 1s 1 linear forwards slideinBot, 3s 3s ease-out 1 forwards makeroomBot;/*, 3s 6s linear forwards exitThruTop;*/
}

#login {
  font-weight: bold;
}

@media (min-width: 768px) {
  #navbarSupportedContent li {
    display: block;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent li { 
    display: flex;
    padding-left: 8px;
  }
  
  #navbarSupportedContent li > *{
    margin: auto;
  }
}

@keyframes enterGameTitle {
  0% {
    opacity: 0;
    transform: translateY(100vh) scale(10, 10);
  }
  10% {
    opacity: 1;
    transform: translateY(100vh) scale(10, 10);
  }
  25% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: translateY(-100vh)  scale(1, 1);
  }
  100% {
    opacity: 1;
    transform: translateY(-100vh)  scale(1, 1);
  }
}

@keyframes enterMid {
  to {
    opacity: 1;
    transform: translateY(200%) scale(1,1);
  }
}

@keyframes exitThruTop {
  50% {
    transform: translateY(-100vh);
  }
}

@keyframes forwardscontinueBttnAnimation {
  to {
    opacity: 1;
  }
}

@keyframes mainAnim {
  0% {
    transform: translateY(100vh);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100vh);
  }
  75% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes makeroomBot {
  from {
    transform: translateY(calc(100% + 67px));
  }
  to {
    transform: translateY(calc(100% + 20px));
  }
}

@keyframes makeroomTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(calc(100% + -20px));
  }
}

@keyframes openingCrawlAnimation {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes slideinTop {
  to {
    transform: translateY(100%);
  }
}

@keyframes slideinBot {
  to {
    transform: translateY(calc(100% + 67px));
  }
}