@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <div class="topVSpacer"></div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>About</h2>
            <p class="indented">
                A blast to the past with a new version of the "Star Wars TIE-Fighter"
                game. Written 100% javascript, you can now run this classic game
                on any modern web-browser! Prefer a controller? Great news! This
                remake is fully compatible with controllers. The game takes place
                inbetween Star Wars episode V - VI. Start off as a rookie TIE-Fighter
                pilot patrolling the galaxy for pirates and smugglers and work your
                way up to piloting the infamous TIE-Defender flying alongside the
                801st and Darth Vader himself! Long live the Empire!
            </p>
            <p class="indented">
                Upcoming: Stay tuned for the sequel game TIE-Predator "Fall of a
                Republic"
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Goal</h2>
            <p class="indented">
                This started out as a small project originally written using <a href="https://threejs.org/" target="_blank">Three.js </a>
                to create a simple flight simulator (with Tie-Fighters)
                and I got up to the point where I could fly ships around.
                However I got tired of (attempting to) writing the code
                for collision detection, mapping keyboard/touch/other inputs
                to controls, and other non-game logic related code. Then
                I discovered an awesome WebGL framework from Microsoft
                specifically designed for this sort of project, <a href="https://www.babylonjs.com/" target="_blank">Babylon.js</a>
                . This is incredible framework handles most (if not
                all) of the game engine logic (thank god) and allows me to
                focus on the game logic. The scope of the project has
                also drastically changed. The new goal of the project
                is to create an almost perfect clone of the old
                Tie-Fighter game (yes that will include all of the DLC)
                and then using that create a new game Tie-Predator which
                will be set in the expanded universe (which is now no
                longer canon) "Star Wars: Legacy"
                comic books. However that game is waaay in the future
                and is something to look forward too. The current
                'deadline' for phase I of the Tie-Fighter game is
                January 1st, 2018. Mark the date! By that day the
                basic flight/battle mechanics should be done or at the
                very least playable.
                <div class="d-none d-lg-block">
                    <div class="row">
                        <div class="card mx-auto">
                            <img class="inspirationImg card-img-top" src="~/images/Legacy_Book_2.jpg" data-toggle="tooltip" data-placement="left" title="Star Wars Legacy Comic Book #2" />
                            <div class="card-body">
                                <div class="card-text"><a href="https://www.darkhorse.com/Books/23-429/Star-Wars-Legacy-Book-2-HC">Star Wars Legacy Issue #2</a></div>
                            </div>
                        </div>
                        <div class="card mx-auto">
                            <img class="inspirationImg card-img-top" src="~/images/LegacyArtWork.jpg" data-toggle="tooltip" data-placement="left" title="Star Wars Legacy art that inspired the upcoming Tie-Predator" />
                            <div class="card-body">
                                <div class="card-text"><a href="https://www.darkhorse.com/Books/23-429/Star-Wars-Legacy-Book-2-HC">Star Wars Legacy Issue #8 Cover Art</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </div>
        <div class="col-md-2 d-none d-md-block d-lg-none">
            <div class="card">
                <img class="inspirationImg card-img-top" src="~/images/Legacy_Book_2.jpg" data-toggle="tooltip" data-placement="left" title="Star Wars Legacy Comic Book #2" />
                <div class="card-body">
                    <div class="card-text"><a href="https://www.darkhorse.com/Books/23-429/Star-Wars-Legacy-Book-2-HC">Star Wars Legacy Issue #2</a></div>
                </div>
            </div>
            <div class="card">
                <img class="inspirationImg card-img-top" src="~/images/LegacyArtWork.jpg" data-toggle="tooltip" data-placement="left" title="Star Wars Legacy art that inspired the upcoming Tie-Predator" />
                <div class="card-body">
                    <div class="card-text"><a href="https://www.darkhorse.com/Books/23-429/Star-Wars-Legacy-Book-2-HC">Star Wars Legacy Issue #8 Cover Art</a></div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Status</h2>
            <p class="text-center">This battle station is not fully operational :(</p>
            <p class="indented">
                Not even partly.
                I'm still learning Babylon.js and porting over bits and
                pieces of the old project to the new framework. It's gonna
                be a while before any of us will be blasting rebel scum in
                the name of the empire.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Why Ads?</h2>
            <p class="indented">
                Running this application isn't free and I don't really
                feel all that inclined to pay for everything out of my own
                pocket, hence ads. Also if you notice at
                times there are more ads than usual that means that the
                funds raised have fallen behind. Also I should point out
                that none of the profits go to me. All funds raised are
                only for keeping the server running. If by chance the funds
                raised have paid the monthly rent early, ads will be
                disabled.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Legalese</h2>
            <p class="indented">
                Star Wars&trade; is property of LucasFilm Ltd. and since the
                licensing phase has not yet been completed the content on
                this site is in violation of LucasFilm Ltd. intellectual
                rights. Until that paperwork is completed I'm abiding my
                time developing/testing new features for which this site
                should only be online for at most a couple hours. If you
                notice it up for periods of time longer that that please
                send me an <a href="mailto:alex.c.hayes08@gmail.com">email </a>
                notifying me that I forget to turn the site
                off. Or if you know me, throw a tomatoe at me.
                I'll get the message.
            </p>
        </div>
    </div>
</div>