@model IEnumerable<TieFighter.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h2>Manage Games</h2>
<hr />
<div class="row">
    <div class="col">
        <a class="btn btn-primary float-right m-2" asp-area="Admin" asp-controller="Games" asp-action="Create">Create New</a>
        <button id="deleteSelected" class="btn btn-danger float-right m-2">Delete Selected</button>
    </div>
</div>

@if (Model.Count() == 0)
{
    <h3>Empty!</h3>
}
else
{
    <table id="datatable" class="table" autoinit>
        <thead>
            <tr>
                <th>
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <label class="m-0">
                            <input id="selectAll" type="checkbox" class="custom-checkbox z-depth-1 z-depth-3-hover" />
                        </label>
                    </div>
                </th>
                <th>
                    Name
                </th>
                <th>
                    Thumbnail
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                            <label class="m-0">
                                <input id="selectAll" type="checkbox" class="custom-checkbox z-depth-1 z-depth-3-hover" />
                            </label>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <img class="maxWidthAndHeight100px img-fluid img-thumbnail" src="@item.ImageUrl" alt="No image set..." />
                        @Html.DisplayFor(modelItem => item.ImageUrl)
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Games" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}