@model TieFighter.Models.Medal

@{
    ViewData["Title"] = "Create";
}

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>Create</h2>

        <h4>Medal</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MedalName" class="control-label"></label>
                        <input asp-for="MedalName" class="form-control" />
                        <span asp-validation-for="MedalName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PointsWorth" class="control-label"></label>
                        <input asp-for="PointsWorth" class="form-control" />
                        <span asp-validation-for="PointsWorth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FileLocation" class="control-label"></label>
                        <input asp-for="FileLocation" class="form-control" type="file"/>
                        <div id="newImagePreviewContainer" class="d-none">
                            <div class="row m-2">
                                <div class="col-md-6 text-center">
                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                        <h3>New Image</h3>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                        <img id="newImagePreview" class="z-depth-1 z-depth-3-hover" src="" alt="No image selected..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="FileLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-medals-common.js"></script>
    <script src="~/js/admin-medals-create.js"></script>
}
