@model TieFighter.Models.Medal

@{
    ViewData["Title"] = "Edit";
}

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="d-flex align-items-center">
            <h2 class="flex-grow">Edit</h2>
            <input type="button" id="updateEntity" value="Update" class="btn btn-primary align-middle mx-2" />
            <a asp-action="Index">Back to List</a>
        </div>
        <h4>Medal - <span id="medalId">@Model.Id</span></h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit" class="d-block position-relative" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MedalName" class="control-label"></label>
                        <input asp-for="MedalName" class="form-control" type="text" required/>
                        <span asp-validation-for="MedalName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" required></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PointsWorth" class="control-label"></label>
                        <input asp-for="PointsWorth" class="form-control" type="number" required/>
                        <span asp-validation-for="PointsWorth" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FileLocation" class="control-label"></label>
                        <input asp-for="FileLocation" class="form-control" type="file" accept=".png"/>
                        <div id="newImagePreviewContainer" class="d-none">
                            <div class="row m-2">
                                <div class="col-md-6 text-center">
                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                        <h3>New Image</h3>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                                        <img id="newImagePreview" class="z-depth-1 z-depth-3-hover" src="" alt="No image selected..." />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="FileLocation" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="d-inline">
                    <h2 class="text-center">Current Image</h2>
                    <img class="img-fluid mx-auto d-block z-depth-2" src="/Medals/@Model.FileLocation" alt="Image not set..." />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-medals-common.js"></script>
    <script src="~/js/admin-medals-edit.js"></script>
}