@model TieFighter.Areas.Admin.Models.MedalsViewModels.PaginatedMedalsVM

@{
    ViewData["Title"] = "Medals";
}

@*@section Links {
    <link rel="import" href="bower_components/paper-datatable-api/dist/paper-datatable-api-column.html">
    <link rel="import" href="bower_components/paper-datatable-api/dist/paper-datatable-api.html">
    <iron-ajax auto url="data.json" last-response="{{data}}"></iron-ajax>
}*@

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h2>Manage Medals</h2>
        <hr />
        <div class="row">
            <div class="col">
                <a class="btn btn-primary float-right" href="~/Medals/">Create New</a>
                <button class="btn btn-danger float-right">Delete Selected</button>
            </div>
        </div>
        <div>
            <table id="table" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            <label class="m-0">
                                <input id="selectAll" type="checkbox" class="custom-checkbox z-depth-1 z-depth-3-hover" />
                            </label>
                            Select All
                        </th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Points Worth</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var medal in Model.Medals)
                    {
                        <tr>
                            <td>
                                <label class="m-0">
                                    <input type="checkbox" class="custom-checkbox z-depth-1 z-depth-3-hover" />
                                </label>
                            </td>
                            <td>
                                <img src="/Medals/@medal.FileLocation" alt="Medal image..."/>
                            </td>
                            <td>
                                @medal.MedalName
                            </td>
                            <td>
                                @medal.PointsWorth
                            </td>
                            <td>
                                <a class="btn btn-outline-primary" asp-area="Admin" asp-controller="Medals" asp-action="Edit" href="Medals/Edit/@medal.Id">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/admin-medals-index.js"></script>
}
