@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width  initial-scale=1  shrink-to-fit=no">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap-theme.css">
    <link rel="stylesheet" href="~/css/jBox.css" />
    <link rel="stylesheet" href="~/css/jBox.Notice.css" />
    @*<link rel="stylesheet" href="~/css/jquery.dataTables.css" />*@
    <environment names="Development">
        <link rel="stylesheet" href="~/css/responsive.bootstrap4.css" />
        <link rel="stylesheet" href="~/css/select.bootstrap4.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap4.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/responsive.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/css/select.bootstrap4.min.css" />
        <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" />
    </environment>
    <link rel="stylesheet" href="~/css/Loadable.css" />
    <link rel="stylesheet" href="~/css/site.css">
    @RenderSection("Links", required: false)
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark">
            <a class="navbar-brand" href="#"><img class="img-fluid" src="~/images/Star_Wars_Yellow_Logo.svg" height="30">Tie Fighter - Beta</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="justify-content-end w-100 nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Public Site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="">
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="dropDownForManagement" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropDownForManagement">
                                <div class="dropdown-item">
                                    <a class="" asp-area="Admin" asp-controller="Medals" asp-action="Index" asp-route-id="">Medals</a>
                                </div>
                                <div class="dropdown-item">
                                    <a class="" asp-area="Admin" asp-controller="Ships" asp-action="Index" asp-route-id="">Ships</a>
                                </div>
                                <div class="dropdown-item">
                                    <a class="" asp-area="Admin" asp-controller="Tours" asp-action="Index" asp-route-id="">Tours</a>
                                </div>
                                <div class="dropdown-item">
                                    <a class="" asp-area="Admin" asp-controller="Users" asp-action="Index" asp-route-id="">Users</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container-fluid">
        @RenderBody()
    </main>
    <footer></footer>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/xhr.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/admin-common.js"></script>
    <environment names="Development">
        <script src="~/js/jBox.js"></script>
        <script src="~/js/jBox.Notice.js"></script>
        @*<script src="~/js/dataTables.select.js"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/jBox.min.js"></script>
        <script src="~/js/jBox.Notice.min.js"></script>
        @*<script src="~/js/dataTables.select.min.js"></script>*@
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>