@{
    ViewData["Title"] = "Admin";
}

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2>Dashboard</h2>
        <hr />
    </div>
</div>

