@model TieFighter.Models.Ship

@{
    ViewData["Title"] = "Edit";
}

<div class="topVSpacer"></div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="d-flex align-items-center">
            <h2 class="flex-grow">Edit Ship - @Model.DisplayName</h2>
            <input type="button" id="updateEntity" value="Update" class="btn btn-primary align-middle mx-2" />
            <a asp-action="Index">Back to List</a>
        </div>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="Id" name="Id" class="hidden" type="hidden" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control-plaintext form-control d-block" readonly />
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label"></label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
            @if (Model.Submeshes.Length != 0)
            {
            <h2>Submeshes</h2>
            <ul>
                @foreach (var submesh in Model.Submeshes)
                {
            <li>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <h3>
                                    @submesh.MeshName
                                </h3>
                            </th>
                            <th colspan="100">
                                <button class="btn btn-outline-dark">+ Component</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var component in submesh.Components)
                        {
                        <tr>
                            <td>
                                @component.DisplayName
                            </td>
                            <td>
                                @{
                                    if (component.Value != null)
                                    {
                                        Html.Raw(component.Value.ToString());
                                    }
                                    else
                                    {
                                        Html.Raw("No value");
                                    }
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                </li>
                }
            </ul>
            }
        </form>
        <hr />
        
        <div class="input-group">
            <span class="input-group-addon">
                Upload New Model
            </span>
            <input id="newBabylonModel" name="newBabylonModel" class="form-control" type="file" accept=".babylon"/>
            <input id="uploadNewModel" type="button" class="form-control btn btn-default" value="Upload" disabled />
        </div>
        <div class="topVSpacer"></div>
        <div class="card">
            <div class="card-header text-center cursor-pointer secondBG text-light" data-toggle="collapse" href="#shipPreviewContainer" aria-expanded="false" aria-controls="shipPreviewContainer">
                Ship Preview
            </div>
            <div id="shipPreviewContainer" class="collapse card-body">
                <div class="square" loading>
                    <canvas id="shipPreview" width="500" height="500"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/cannon.min.js"></script>
    <script src="~/js/babylon.objFileLoader.min.js"></script>
    <script src="~/js/babylon.js"></script>
    <script src="~/js/admin-ships-edit.js"></script>
}
